body{
  background-color: #E2DCC8;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Source Serif Pro', serif;
}

.logo{
  margin: 50px 13%;
  padding:1%;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  font-weight: bold;
}

.form-container{
  width: 30%;
  margin: 1% auto;
  margin-right: 13%;
  padding: 2%;
  background-color: #F1F1F1;
  border-radius: 20px;
}

.topic{
  width: 30%;
  margin: 1% auto;
  margin-left:  13%;
  padding: 2%;
  background-color: #F1F1F1;
  border-radius: 20px;
}
